$main-color: #f77600;
$black-color: #202020;
$white-color: #fff;
$ddd-color: #ddd;
$eee-color: #eee;
$bbb-color: #bbb;
$aaa-color: #aaa;
$footer-color: #484d51;
$txt-666-color: #666;
$yellow-color: #ffae00;
